@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p class="text-center text-capitalize font-weight-bolder">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
<br />
<br />

<h5 class="text-center">COMP 2139 - Assignment 1</h5>

<h6 class="text-center">Members: </h6>

<p class="text-center">Vanja Vego - 100535769</p>
<p class="text-center">Maxim Bondarenko - 100420936</p>
<p class="text-center">Zion Henry - 101232420</p>
<p class="text-center">Armen Levon Armen - 101281931</p>
<p class="text-center">Rohan Khullar - 101284533</p>
<p class="text-center">Jillian Trafford - 101239902</p>

