@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />


<div class="border border-primary">
    <div>
        <div>
        <p class="text-center text-capitalize font-weight-bolder">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
        </div>
    </div>
    <br />
    <br />


    <div class="border border-secondary">
        <div>
            <h5 class="text-center font-weight-bold">COMP 2139 - Assignment 1</h5>
            <h6 class="text-center font-weight-bold">Members: </h6>
        </div>

        <div class="">
            <p class="text-center text-primary font-weight-bold">Vanja Vego - 100535769</p>
            <p class="text-center text-primary font-weight-bold">Maxim Bondarenko - 100420936</p>
            <p class="text-center text-primary font-weight-bold">Zion Henry - 101232420</p>
            <p class="text-center text-primary font-weight-bold">Armen Levon Armen - 101281931</p>
            <p class="text-center text-primary font-weight-bold">Rohan Khullar - 101284533</p>
            <p class="text-center text-primary font-weight-bold">Jillian Trafford - 101239902</p>
        </div>
    </div>
</div>