@model Incident
@{
    ViewData["Title"] = "Select Technician";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="List" method="post" asp-controller="TechIncident">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
       <label asp-for="TechnicianId">Technician</label>
        <select asp-for="TechnicianId" class="form-control">
            @foreach (Technician technician in ViewBag.Technicians)
            {

                <option value="@technician.TechnicianId">@technician.Name</option>
            }
        </select>
        <br/>
        <button class="btn btn-primary" type="submit" name="submit" > Select</button>
    </div>
</form>