@model Product
@{
    ViewBag.Title = "Delete Product";
}

<h1>Delete Confirmation:</h1>
<h3>@Model.ProductName | Id: @Model.ProductId </h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="@Model.ProductId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
