@model Customer
@{
    ViewBag.Title = "Delete Product";
}

<h1>Delete Confirmation:</h1>
<h3>@Model.FirstName @Model.LastName | Id: @Model.CustomerId </h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="@Model.CustomerId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>